* {
    padding: 0;
    margin: 0;
    background-color: #f1faee
}

body {
    background-color: #f1faee;
}

.chessboard {
    position: absolute;
    left: calc((100vw - 600px)/2);
    height: calc((100vh - 600px)/2);
    height: 600px;
    width: 600px;
    background-color: #370617;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.chessboard div {
    background-color: #cb997e;
    margin: 2px;
    text-align: center;
    font-family: arial;
} 
